body{font-family: 'Roboto', sans-serif; background-color: #c1bdba;}

/* login */
#login .card-signin{border: 0; border-radius: 1rem; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);}
#login .card-signin .card-title{margin-bottom: 2rem; font-weight: 300; font-size: 1.5rem; font-family: 'Lobster', cursive;}
#login .card-signin .card-body{padding: 2rem;}
#login .form-signin{width: 100%;}
#login .form-signin .btn{font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;}
#login .form-label-group{position: relative; margin-bottom: 1rem;}
#login .form-label-group input{height: auto; border-radius: 2rem;}
#login .form-label-group>input,
#login .form-label-group>label{padding: .75rem 1.5rem;}
#login .form-label-group>label{position: absolute; top: 0; left: 0; display: block; width: 100%; margin-bottom: 0; line-height: 1.5; color: #495057; border: 1px solid transparent; border-radius: .25rem; transition: all .1s ease-in-out;}
#login .btn-google{color: white; background-color: #ea4335;}
#login .btn-facebook{color: white; background-color: #3b5998;}
/* end login */